{% extends 'base.html' %}
{% comment %}
    This template extends the base.html template and is used for rendering the login page of the Chirper application.

    Template Tags:
    -  extends 'base.html' : Inherits the structure from base.html.
    - load static : Loads the static template tag library.

    Blocks:
    - {% block title %} : Sets the title of the page to "Login - Chirper".
    -  block content : Contains the main content of the login page.

    Head Section:
    - Includes meta tags for character set and viewport settings.
    - Sets the title of the document to "Login".
    - Links to the Tailwind CSS stylesheet for styling.

    Body Section:
    - Applies Tailwind CSS classes for styling the body and main container.
    - Displays a heading and a description for the login form.
    - Contains a form that posts to the 'login_view' URL using HTMX for AJAX requests.
    - Includes CSRF token for security.
    - Displays an error message if the form has errors.
    - Contains input fields for username and password with labels.
    - Includes a submit button styled with Tailwind CSS.
    - Provides a link to the registration page for users who don't have an account.
{% endcomment %}


{% load static %}
{% block title %}Login - Chirper{% endblock %}

{% block content %}

<body class="dark:bg-gray-900 antialiased">
    <div class="max-w-lg mx-auto my-10 dark:bg-gray-900 antialiased p-8 rounded-xl shadow shadow-slate-300 border-2 border-gray-700 rounded-xl">
        <h1 class="text-white text-4xl font-medium">Login</h1>
        <p class="text-gray-300">Fill out the form below to log in to your account.</p>

        <form hx-post="{% url 'login_view' %}" hx-target="body" class="space-y-4">
            {% csrf_token %}
            
            {% if form.errors %}
            <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
                <p class="font-bold">Invalid username or password.</p>
            </div>
            {% endif %}
            
            <div class="mb-6">
                <label for="{{ form.username.id_for_label }}" class="block mb-2 text-sm font-medium text-white" style="font-size: .95rem;">Email</label>
                {{ form.username }}
            </div>
            <div class="mb-6">
                <label for="{{ form.password.id_for_label }}" class="block mb-2 text-sm font-medium text-white" style="font-size: .95rem;">Password</label>
                {{ form.password }}
                {% if field.help_text %}
                <p class="text-sm text-gray-500">{{ field.help_text }}</p>
                {% endif %}
            </div>
            <button type="submit" class="w-full px-4 py-2 tracking-wide text-white transition-colors duration-200 transform bg-blue-700 rounded-md hover:bg-blue-800 focus:outline-none focus:bg-blue-600">Submit</button>
        </form>
        <div class="mt-4 text-center">
            <p class="text-sm text-white">
                Don't have an account? 
                <a href="{% url 'register' %}" class="text-blue-500 hover:text-blue-600">Register here</a>
            </p>
        </div>
    </div>
</body>
{% endblock %}