{# 
    This template displays the profile statistics for a user, including the number of followers and following relationships.
    
    Elements:
    - A container div with id "profile-stats-container" that holds the entire profile stats section.
    - A flexbox div that centers its children horizontally and adds spacing between them.
    - Two child divs that display the count of followers and following relationships:
        - The first child div shows the number of followers using the `user.follower_relationships.count` variable.
        - The second child div shows the number of following relationships using the `user.following_relationships.count` variable.
    - A conditional block that checks if the logged-in user (`request.user`) is not the profile owner (`user`):
        - If true, a button is displayed to allow the logged-in user to follow or unfollow the profile owner.
        - The button uses the `hx-post` attribute to send a request to the "follow_user" URL with the profile owner's username.
        - The button's appearance and text change based on the `following_status` variable:
            - If `following_status` is true, the button indicates "Following" with a gray background.
            - If `following_status` is false, the button indicates "Follow" with a blue background.
#}
<div id="profile-stats-container">
    <div class="flex space-x-4 justify-center">
        <div class="text-center">
            <span id="follow_count" class="font-bold">{{ user.follower_relationships.count }}</span>
            <span class="text-gray-500">Followers</span>
        </div>
        <div class="text-center">
            <span class="font-bold">{{ user.following_relationships.count }}</span>
            <span class="text-gray-500">Following</span>
        </div>
    </div>

    {% if request.user != user %}
    <button hx-post="{% url 'follow_user' user.username %}" hx-target="#profile-stats-container"
        class="{% if following_status %}bg-gray-200 hover:bg-gray-300 text-gray-800{% else %}bg-blue-500 hover:bg-blue-600 text-white{% endif %} px-4 py-2 rounded-full font-medium text-sm transition-colors mt-4">
        {% if following_status %}
        Following
        {% else %}
        Follow
        {% endif %}
    </button>
    {% endif %}
</div>