{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100">
    <div class="max-w-lg mx-auto my-10 bg-white p-8 rounded-xl shadow shadow-slate-300">
        <h1 class="text-4xl font-medium">Registration</h1>
        <p class="text-slate-500">Fill out the form below to create your account.</p>

        <form method="post" class="my-10">
            {% csrf_token %}
            <div class="grid gap-6 mb-6 md:grid-cols-2">
                <div>
                    <label for="{{ form.first_name.id_for_label }}" class="block mb-2 text-sm font-medium text-gray-900">First name</label>
                    {{ form.first_name }}
                </div>
                <div>
                    <label for="{{ form.last_name.id_for_label }}" class="block mb-2 text-sm font-medium text-gray-900">Last name</label>
                    {{ form.last_name }}
                </div>
            </div>
            <div class="mb-6">
                <label for="{{ form.email.id_for_label }}" class="block mb-2 text-sm font-medium text-gray-900">Email address</label>
                {{ form.add_class:"border-2 border-gray-300 rounded-md p-2" }}
            </div>
            <div class="mb-6">
                <label for="{{ form.password.id_for_label }}" class="block mb-2 text-sm font-medium text-gray-900">Password</label>
                {{ form.password }}
            </div>
            <div class="mb-6">
                <label for="{{ form.confirm_password.id_for_label }}" class="block mb-2 text-sm font-medium text-gray-900">Confirm password</label>
                {{ form.confirm_password }}
            </div>
            <button type="submit" class="w-full px-4 py-2 tracking-wide text-white transition-colors duration-200 transform bg-blue-700 rounded-md hover:bg-blue-800 focus:outline-none focus:bg-blue-600">Submit</button>
        </form>
    </div>
</body>
</html>