{# 
This template renders a list of chirps (posts) for a specific user. It includes the following features:

1. JavaScript:
    - Adds event listeners to all forms to clear the trix-editor content upon form submission.

2. Chirps Display:
    - Checks if the user has any chirps.
    - Iterates over each chirp and displays it in a styled container.
    - Each chirp includes:
      - Author's profile image or a default icon.
      - Author's username and the time since the chirp was created.
      - Chirp title and content.
      - Buttons for liking, replying, and deleting the chirp.

3. Chirp Actions:
    - Like button: Sends a POST request to like the chirp and updates the like count.
    - Reply button: Toggles the visibility of the reply form.
    - Delete button: Sends a POST request to delete the chirp with a confirmation prompt.

4. Reply Form:
    - Hidden by default and toggled by the reply button.
    - Uses trix-editor for input.
    - Sends a POST request to create a reply and updates the replies section.

5. Replies Display:
    - Includes a separate template to render the list of replies for each chirp.

6. No Chirps Message:
    - Displays a message and an icon if the user has no chirps.

7. Additional JavaScript:
    - Adds event listeners to all forms to clear the trix-editor content upon form submission (repeated for redundancy).

#}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        document.querySelectorAll("form").forEach(function (form) {
            form.addEventListener("submit", function () {
                form.querySelector("trix-editor").value = "";
                form.querySelector("trix-editor").editor.loadHTML("");
                form.querySelector("trix-editor").editor.setSelectedRange([0, 0]);
            });
        });
    });
    
</script>
{% if user.chirps.all %}
<div class="space-y-6">
    {% for chirp in user.chirps.all %}
    <div id="chirp-container"
    class="shadow-md mx-auto mb-8 border rounded-lg p-6 hover:shadow-lg transition-shadow" style="border: 2px solid grey; background-color: #161e2f; border-color: #1f2937; color: #FFFFFF;">

        <div class="flex flex-col">
            <!-- Author -->
            <div class="flex items-center gap-3 mb-4">
                <div data-tooltip-target="tooltip-user-{{ chirp.id }}"
                    class="relative w-10 h-10 overflow-hidden rounded-full bg-gray-100">
                    {% if chirp.author.profile_image %}
                    <img src="{{ chirp.author.profile_image.url }}" alt="{{ chirp.author.username }}'s profile"
                        class="w-full h-full object-cover rounded-full">
                    {% else %}
                    <svg class="absolute w-12 h-12 text-gray-400 -left-1 rounded-full" fill="currentColor"
                        viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z"
                            clip-rule="evenodd"></path>
                    </svg>
                    {% endif %}
                </div>
                <div class="flex flex-col ml-1">
                    <span class="font-semibold text-sm">{{ chirp.author.username }}</span>
                    <span class="text-sm text-gray-500">{{ chirp.created_at|timesince }} ago</span>
                </div>
            </div>

            <!-- Title -->
            <h2 class="text-xl font-bold text-white mb-2">{{ chirp.title }}</h2>

            <!-- Content -->
            <div class="text-white mb-4">
                <div class="trix-content prose prose-invert bg-gray-600 border border-gray-600 w-full p-2 border rounded" style = "background-color: #242d41">
                    {% autoescape off %}
                    {{ chirp.content }}
                    {% endautoescape %}
                </div>
            </div>

            <!-- Actions -->
            <div class="flex">
                <button hx-post="{% url 'like_chirp' chirp.id %}" hx-target=".like_count_{{ chirp.id }}"
                    hx-swap="innerText" class="text-white hover:text-blue-500 flex items-center space-x-1">
                    {% csrf_token %}
                    <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                        <path
                            d="M14 10h4.764a2 2 0 011.789 2.894l-3.5 7A2 2 0 0115.263 21h-4.017c-.163 0-.326-.02-.485-.06L7 20m7-10V5a2 2 0 00-2-2h-.095c-.5 0-.905.405-.905.905 0 .714-.211 1.412-.608 2.006L7 11v9m7-10h-2M7 20H5a2 2 0 01-2-2v-6a2 2 0 012-2h2.5">
                        </path>
                    </svg>
                    <span class="like_count_{{ chirp.id }}">{{ chirp.like_count }}</span>
                </button>
                <button onclick="document.getElementById('reply-form-{{ chirp.id }}').classList.toggle('hidden')"
                    class="text-white hover:text-blue-500 flex items-center space-x-1">
                    {% csrf_token %}
                    <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                        <path
                            d="M8 12h.01M12 12h.01M16 12h.01M21 12c0 4.418-4.03 8-9 8a9.863 9.863 0 01-4.255-.949L3 20l1.395-3.72C3.512 15.042 3 13.574 3 12c0-4.418 4.03-8 9-8s9 3.582 9 8z">
                        </path>
                    </svg>
                    <span>Reply</span>
                </button>
            </div>
            <br>
            <div class="flex">
                <button hx-post="{% url 'delete_chirp' chirp.id %}" hx-confirm="Are you sure?"
                    hx-target="closest #chirp-container" hx-swap="outerHTML" class="w-full bg-red-600 border border-red-900 text-white px-6 py-3 rounded-lg
                        hover:bg-red-700 transition duration-200
                        font-semibold">
                    Delete
                </button>

            </div>

            <!-- Reply Form -->
            <div id="reply-form-{{ chirp.id }}" class="hidden mt-4">
                <form hx-post="{% url 'create_chirp_reply' chirp.id %}" hx-target=".replies-{{ chirp.id }}"
                    hx-swap="innerHTML" class="space-y-4">
                    {% csrf_token %}
                    <trix-editor input="reply_content_{{chirp.id}}" class="w-full p-2 border rounded" style = "background-color: #242d41"
                        placeholder="Write a reply..."></trix-editor>
                    <input id="reply_content_{{chirp.id}}" type="hidden" name="content">
                    <button class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">
                        Send Reply
                    </button>
                </form>
            </div>

            <!-- Replies -->
            <div class="replies-{{ chirp.id }} mt-4 space-y-3">
                {% include 'reply_list.html' with replies=chirp.replies.all %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<div class="text-center py-12">
    <svg class="mx-auto h-12 w-12 text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M7 8h10M7 12h4m1 8l-4-4H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-3l-4 4z"></path>
    </svg>
    <h3 class="mt-2 text-sm font-medium text-gray-900">No chirps yet</h3>
    <p class="mt-1 text-sm text-gray-500">Get started with your first chirp!</p>
</div>
{% endif %}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        document.querySelectorAll("form").forEach(function (form) {
            form.addEventListener("submit", function () {
                form.querySelector("trix-editor").value = "";
            });
        });
    });
</script>